.panel {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 400px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding: 0; 
    display: flex;
    flex-direction: column; 
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #d4b84a transparent;
}

.panel > * {
    max-width: 100%;
    box-sizing: border-box;
}

.panel img {
    max-width: 100%;
    height: auto;
}

.panel.right {
    right: 0;
    left: auto;
    transform: translateX(100%);
    background: url("assets/core/images/odyssey_map_yellow.png") center center / cover no-repeat;
}

.panel.open.left { transform: translateX(0); }
.panel.open.right { transform: translateX(0); }

.panel__close {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;

  width: 32px;
  height: 32px;

  border: none;
  background: none;  
  color: #b18f01;

  font-size: 1.8rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1100; 
}

.panel__close:hover {
  color: white;
}

.panel__close:active {
  transform: scale(0.9);
}