
.panel.ui {
    width: 600px;

    background: none;
    background-color: var(--background-color); 
}

.panel.ui::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    content: "";
    background: url("/assets/core/images/odyssey_map.png") center center / cover no-repeat;
    opacity: 0.2;

    z-index: -1;
}

.ui__title {
    font-family: var(--title-font-family);
    font-size: var(--big-title-font-size);
    font-weight: 500;
    color: var(--big-title-text-color);

    margin: 0;
    padding: 1rem;
}


@media (max-width:425px) {
    .ui__title {
        font-size: var(--title-font-size);
        padding-top: 1.4rem;
    }
}