.c-carousel {
    margin-top: 0.2rem;
    margin-bottom: 0 !important;
}

.c-carousel__container {
    padding: 0.5rem;
}

.c-carousel__title {
    font-family: var(--core-font-family);
    font-size: var(--subtitle-font-size);
    font-weight: 700;
    margin: 0 0 0.1rem 0;
}

.slick-initalized {
    margin-bottom: 0;
}

.c-carousel__slide {
    padding: 0;
}

.c-carousel__image {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 180px;
}

.c-carousel__image .image-zoom {
    display: block;
    width: 100%;
    height: 100%;
}

.c-carousel__image .image-zoom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.c-carousel__main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.c-carousel__caption {
    font-family: var(--subtext-font-family);
    font-size: var(--subtext-font-size);
    color: var(--subtext-color);
}
.c-carousel__caption--left { text-align: left; }
.c-carousel__caption--center { text-align: center; }
.c-carousel__caption--right { text-align: right; }


.c-panel-carousel.slick-slider {
    margin: 0;
}

.c-carousel .slick-list {
    padding: 0 0 0.5rem 0 !important;
    margin: 0;
}

.c-carousel .slick-dots {
    position: absolute; 
    bottom: -10px;
}

.c-carousel .slick-dots li {
    margin: 0 0; 
}

.c-carousel .slick-prev, 
.c-carousel .slick-next {
    z-index: 10;
    width: 40px;
    height: 40px;
}

.c-carousel .slick-prev {
    left: 10px;
}

.c-carousel .slick-next {
    right: 10px;
}
