.c-explore-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    gap: 0.1rem;
    margin: 0.3rem;
    padding: 0.1rem 1.2rem;

    font-family: var(--title-font-family);
    font-size: var(--subtitle-font-size);
    font-weight: 400;
    color: var(--title-text-color);
    background: var(--background-color);
    border: 1px solid var(--color_gray-5);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.c-explore-button:hover {
    background: var(--secondary-color);
    border-color: var(--primary-color);
    color: var(--background-color);
}

.c-explore-button__icon {
    width: 1.7rem;
    height: 1.7rem;
    display: inline-block;
    transition: filter 0.1s ease-in-out;
}

.c-explore-button:hover .c-explore-button__icon {
    filter: brightness(0) invert(1);
}