.c-text-block {
  padding: 0.5rem;
}

.c-text-block__title {
  font-family: 'Brandon Text', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 0.3rem 0;
}

.c-text-block__title--left { text-align: left; }
.c-text-block__title--center { text-align: center; }
.c-text-block__title--right { text-align: right; }

.c-text-block__content {
  font-family: 'Brandon Text', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;
  color: #333333
}

.c-text-block__content--left { text-align: left; }
.c-text-block__content--center { text-align: center; }
.c-text-block__content--right { text-align: right; }

.doc-viewer .c-text-block {
    padding: 0.5rem 0;
}

.doc-viewer .c-text-block__title {
    font-size: 1.7rem;
}

.doc-viewer .c-text-block__content {
    line-height: 1.6;
    font-size: 1rem;
}
